DanielsDestiny/Builds/DanielsDestiny/Library
DanielsDestiny/Builds/DanielsDestiny/Temp
DanielsDestiny/Builds/DanielsDestiny/obj
DanielsDestiny/Builds/DanielsDestiny/Assets/UnityVS
DanielsDestiny/Builds/DanielsDestiny/Assets/UnityVS.meta
DanielsDestiny/Builds/DanielsDestiny/Assets/Files/Settings.xml
DanielsDestiny/Builds/DanielsDestiny/Assets/Files/HighScore.xml
*.suo
*.sln
*.csproj
*.userprefs