<?xml version="1.0" encoding="utf-8"?>
<SettingStat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <sound>
    <max>1</max>
    <min>0</min>
    <cur>1</cur>
  </sound>
  <sfx>
    <max>1</max>
    <min>0</min>
    <cur>15</cur>
  </sfx>
  <mouseSensitivity>
    <max>50</max>
    <min>1</min>
    <cur>5.28198957</cur>
  </mouseSensitivity>
</SettingStat>